<section id="banner" class="py-5 d-none d-sm-block">
    <div class="primary-overlay text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cs-column-text">
                            <h1 style="text-align: center; color: #fff; text-shadow: 2px 2px 4px #000000; font-weight: 800; font-size: 45px;">IFIP</h1>
                            <h1 style="text-align: center; color: #fff; text-shadow: 2px 2px 4px #000000;">International Conference on Entertainment Computing</h1>
                            <h1 style="text-align: center; color: #fff; text-shadow: 2px 2px 4px #000000;">&amp;</h1>
                            <h1 style="text-align: center; color: #fff; text-shadow: 2px 2px 4px #000000;">Joint Conference on Serious Games</h1>
                            <h4 style="text-align: center; color: #fff; text-shadow: 2px 2px 4px #000000;">Arequipa, Perú, November 11-15th 2019</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>