
 <div class="container sticky-top">
    <div class="list-group list-group-flush">
            <a href="{{ site.baseurl }}/" class="list-group-item list-group-item-action bg-light">Home</a>
            <a href="{{ site.baseurl }}/importantdates" class="list-group-item list-group-item-action bg-light">Important Dates</a>
            <a href="{{ site.baseurl }}/callForPapers" class="list-group-item list-group-item-action bg-light">Call for Papers</a>
            <a href="{{ site.baseurl }}/workshops" class="list-group-item list-group-item-action bg-light">Workshops</a>
            <a href="{{ site.baseurl }}/submissions" class="list-group-item list-group-item-action bg-light">Submissions</a>
            <a href="{{ site.baseurl }}/organization" class="list-group-item list-group-item-action bg-light">Organization</a>
            <a href="{{ site.baseurl }}/registration" class="list-group-item list-group-item-action bg-light">Registration</a>
            <a href="{{ site.baseurl }}/venue" class="list-group-item list-group-item-action bg-light">Venue</a>
            <a href="{{ site.baseurl }}/tourism" class="list-group-item list-group-item-action bg-light">Tourism</a>
    </div>

 </div>





<!-- NAV
<nav class="navbar navbar-expand-md navbar-light py-2">


    <div class="container" style="margin-left: 0%;margin-right: 0%">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="cs-tab-nav bs-tab-nav">
            <li class="nav-item">
                <a href="{{ site.baseurl }}/" class="nav-link">Home</a>
            </li>

            <li class="nav-item">
                <a href="{{ site.baseurl }}/" class="nav-link">Important Dates</a>
            </li>

            <li class="nav-item">
                <a href="{{ site.baseurl }}/" class="nav-link">Call for Papers</a>
            </li>

            <li class="nav-item">
                <a href="{{ site.baseurl }}/" class="nav-link">Workshops</a>
            </li>

            <li class="nav-item">
                <a href="{{ site.baseurl }}/" class="nav-link">Submissions</a>
            </li>

            <li class="nav-item">
                <a href="{{ site.baseurl }}/" class="nav-link">Organization</a>
            </li>

            <li class="nav-item">
                <a href="{{ site.baseurl }}/" class="nav-link">Registration</a>
            </li>

            <li class="nav-item">
                <a href="{{ site.baseurl }}/" class="nav-link">Venue</a>
            </li>

        </ul>
        </div>
    </div>
</nav>
-->
<!--

<div class="row">
    <div class="col-md-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false">Home</a>
            <a class="nav-link" id="v-pills-important dates-tab" data-toggle="pill" href="#v-pills-important dates" role="tab" aria-controls="v-pills-important dates" aria-selected="false">Important Dates</a>
            <a class="nav-link" id="v-pills-call for papers-tab" data-toggle="pill" href="#v-pills-call for papers" role="tab" aria-controls="v-pills-call for papers" aria-selected="false">Call for Papers</a>
            <a class="nav-link" id="v-pills-workshops-tab" data-toggle="pill" href="#v-pills-workshops" role="tab" aria-controls="v-pills-workshops" aria-selected="false">Workshops</a>
            <a class="nav-link" id="v-pills-submissions-tab" data-toggle="pill" href="#v-pills-submissions" role="tab" aria-controls="v-pills-submissions" aria-selected="false">Submissions</a>
            <a class="nav-link" id="v-pills-organizations" data-toggle="pill" href="#v-pills-organizations" role="tab" aria-controls="v-pills-organizations" aria-selected="false">Organization</a>
            <a class="nav-link" id="v-pills-registration-tab" data-toggle="pill" href="#v-pills-registration" role="tab" aria-controls="v-pills-registration" aria-selected="false">Registration</a>
            <a class="nav-link" id="v-pills-venue-tab" data-toggle="pill" href="#v-pills-venue" role="tab" aria-controls="v-pills-venue" aria-selected="false">Venue</a>
            <a class="nav-link active show" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="true">Settings</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade active show" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <p>Eu dolore ea ullamco dolore Lorem id cupidatat excepteur reprehenderit consectetur elit id dolor proident in cupidatat officia. Voluptate excepteur commodo labore nisi cillum duis aliqua do. Aliqua amet qui mollit consectetur nulla mollit velit aliqua veniam nisi id do Lorem deserunt amet. Culpa ullamco sit adipisicing labore officia magna elit nisi in aute tempor commodo eiusmod.</p>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <p>Culpa dolor voluptate do laboris laboris irure reprehenderit id incididunt duis pariatur mollit aute magna pariatur consectetur. Eu veniam duis non ut dolor deserunt commodo et minim in quis laboris ipsum velit id veniam. Quis ut consectetur adipisicing officia excepteur non sit. Ut et elit aliquip labore Lorem enim eu. Ullamco mollit occaecat dolore ipsum id officia mollit qui esse anim eiusmod do sint minim consectetur qui.</p>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <p>Fugiat id quis dolor culpa eiusmod anim velit excepteur proident dolor aute qui magna. Ad proident laboris ullamco esse anim Lorem Lorem veniam quis Lorem irure occaecat velit nostrud magna nulla. Velit et et proident Lorem do ea tempor officia dolor. Reprehenderit Lorem aliquip labore est magna commodo est ea veniam consectetur.</p>
            </div>

            <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <p>Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem sint. Veniam sint duis incididunt do esse magna mollit excepteur laborum qui. Id id reprehenderit sit est eu aliqua occaecat quis et velit excepteur laborum mollit dolore eiusmod. Ipsum dolor in occaecat commodo et voluptate minim reprehenderit mollit pariatur. Deserunt non laborum enim et cillum eu deserunt excepteur ea incididunt minim occaecat.</p>
            </div>
            <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <p>Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem sint. Veniam sint duis incididunt do esse magna mollit excepteur laborum qui. Id id reprehenderit sit est eu aliqua occaecat quis et velit excepteur laborum mollit dolore eiusmod. Ipsum dolor in occaecat commodo et voluptate minim reprehenderit mollit pariatur. Deserunt non laborum enim et cillum eu deserunt excepteur ea incididunt minim occaecat.</p>
            </div>
            <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <p>Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem sint. Veniam sint duis incididunt do esse magna mollit excepteur laborum qui. Id id reprehenderit sit est eu aliqua occaecat quis et velit excepteur laborum mollit dolore eiusmod. Ipsum dolor in occaecat commodo et voluptate minim reprehenderit mollit pariatur. Deserunt non laborum enim et cillum eu deserunt excepteur ea incididunt minim occaecat.</p>
            </div>
            <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <p>Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem sint. Veniam sint duis incididunt do esse magna mollit excepteur laborum qui. Id id reprehenderit sit est eu aliqua occaecat quis et velit excepteur laborum mollit dolore eiusmod. Ipsum dolor in occaecat commodo et voluptate minim reprehenderit mollit pariatur. Deserunt non laborum enim et cillum eu deserunt excepteur ea incididunt minim occaecat.</p>
            </div>

            <div class="tab-pane fade active show" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <p>Eu dolore ea ullamco dolore Lorem id cupidatat excepteur reprehenderit consectetur elit id dolor proident in cupidatat officia. Voluptate excepteur commodo labore nisi cillum duis aliqua do. Aliqua amet qui mollit consectetur nulla mollit velit aliqua veniam nisi id do Lorem deserunt amet. Culpa ullamco sit adipisicing labore officia magna elit nisi in aute tempor commodo eiusmod.</p>
            </div>
        </div>
    </div>
</div>
-->
