<div class=" sticky-top">
  <button class="btn btn-primary btn-lg btn-block" type="button" id="test" onclick="location.href='../form'"> Registration </button>
  <div class="cs-alert cs-alert-info"><p><strong>NEWS</strong></p>
      <ul>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Workshop and tutorial proposals:<br>
      <strong>April 22, 2019</strong></span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">New date for: Full and short papers:<br>
      <strong><del>June 10, 2019</del> June 23, 2019</strong> (<a href="https://easychair.org/account/signin_timeout?l=Mp2AhWvbl45wT67nBIpvBJ" target="_blank" rel="noopener noreferrer">Submission Link</a>)</span></li>
      </ul>
  </div>
</div>
