#banner{
    position: relative;
    background: url('../img/banner.jpeg');
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    background-attachment: scroll;
    margin-bottom: 50px;

}