<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include banner.html %}
    
    <section class="lg-padding">
        <div class="row">
                <div class="col-md-2">
                    {% include header.html %}
                </div>
                <div class="col-md-7">
                    {{ content }}
                </div>
                <div class="col-md-2">
                    {% include news.html %}
                </div>
        
        </div>

    </section>
    
    {% include footer.html %}
  </body>
</html>